body{
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

.btn-secondary {
   background-color: #002147;
   font-size:large ;
   }

 .btn-secondary1 {
   background-color: #a5a5a5;
   font-size:large ;
    }
 
.btn-secondary3 {
    background-color: #a5a5a5;
    font-size:small;
    }

.btn-secondary3 {
    background-color: #a5a5a5;
    font-size:x-small;
    }

.btn-secondaryinicio {
    background-color: #002147;
    font-size:xx-large;
    color: white
   }
      
   .chart-container {
    background-color: #FFF; /* BLANCO */
    padding: 10px;
    border: 1px solid #000; /* BORDE NEGRO */
    flex: 1; /* Ocupa el espacio restante en el menú izquierdo */
    min-height: 7.5cm; /* Altura mínima de aproximadamente 10 centímetros */
    border-radius: 10px; /* Redondeamos los bordes del recuadro de gráfico */
   }

   .text-centerinicio {
    color: white

   }
   
.img-fluid{

    width: 30%;

   }

   .card {
    min-width: 300px; /* Ajusta según sea necesario */
    min-height: 200px; /* Ajusta según sea necesario */
}

.image-container {
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    height: 100px; /* Altura fija del contenedor */
    display: flex; /* Utiliza flexbox para centrar el contenido */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    overflow: hidden; /* Oculta cualquier contenido que se desborde del contenedor */
    border: 1px solid #ccc; /* Borde opcional alrededor del contenedor */
    margin: 10px 0; /* Margen opcional alrededor del contenedor */
}

/* Asegura que las imágenes dentro del contenedor se ajusten correctamente */
.image-container img {
    max-width: 100%; /* Asegura que la imagen no se desborde horizontalmente */
    max-height: 100%; /* Asegura que la imagen no se desborde verticalmente */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin distorsión */
}