asgiref==3.8.1
Django==5.0.2
Pillow==11.2.1
sqlparse==0.4.4
tzdata==2024.1
python-dotenv==1.0.1
matplotlib==3.10.3
scipy==1.16.0
pandas==2.2.3
plotly==5.15.0
kaleido==0.2.1
moviepy==1.0.3
whitenoise==6.6.0
contourpy==1.3.2
cycler==0.12.1
fonttools==4.58.4
kiwisolver==1.4.8
numpy==1.26.4
packaging==25.0
pygame==2.6.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
six==1.17.0