{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}sonoUno web{% endblock %}</title>
     <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
    <!-- CSS Personal -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <!-- JavaScript -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
   <!-- Se incluye la navbar -->
   {% include 'navbar.html' %}
    <div class="container my-4">
        <!-- Se incluye mensajes -->
        {% include 'message.html' %}  
    </div>
    
    <div class="container my-3">
        <div class="row">
            <!-- Blog entries-->
            <div class="col-lg-8">
                <!-- Featured blog post-->
                <div class="card mb-4">
                    <div class="card-body">

                        <div class="row g-3">
                            <div class="col-sm-6">
                              <input type="text" class="form-control" placeholder="Nombre del gráfico" aria-label="Nombre del gráfico">
                            </div>
    
                            <div class="col-sm"> <!--play/stop-->
                                <button id="playStopButton" class="btn btn-secondary3">
                                    <svg id="playIcon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                                        <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                                    </svg>
                                    <svg id="pauseIcon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pause-fill visually-hidden" viewBox="0 0 16 16">
                                        <path d="M5.5 3.5A.5.5 0 0 1 6 4v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5zm5 0a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z"/>
                                    </svg>
                                    <p class="visually-hidden">Play</p>                        
                                </button>
                            </div>

                            <div class="col-sm"> <!--stop-->
                                <button class="btn btn-secondary3"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-stop-fill" viewBox="0 0 16 16">
                                    <path d="M5 3.5h6A1.5 1.5 0 0 1 12.5 5v6a1.5 1.5 0 0 1-1.5 1.5H5A1.5 1.5 0 0 1 3.5 11V5A1.5 1.5 0 0 1 5 3.5z"/>
                                  </svg></button>
                            </div>
                            <div class="col-sm"> <!--undo-->
                                <button class="btn btn-secondary3"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-backspace-fill" viewBox="0 0 16 16">
                                    <path d="M15.683 3a2 2 0 0 0-2-2h-7.08a2 2 0 0 0-1.519.698L.241 7.35a1 1 0 0 0 0 1.302l4.843 5.65A2 2 0 0 0 6.603 15h7.08a2 2 0 0 0 2-2V3zM5.829 5.854a.5.5 0 1 1 .707-.708l2.147 2.147 2.146-2.147a.5.5 0 1 1 .707.708L9.39 8l2.146 2.146a.5.5 0 0 1-.707.708L8.683 8.707l-2.147 2.147a.5.5 0 0 1-.707-.708L7.976 8 5.829 5.854z"/>
                                  </svg></button>
                            </div>
                            <div class="col-sm"> <!--reset-->
                                <button id="resetButton" class="btn btn-secondary3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
                                        <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        
                        <!-- Gráfico  
                        <img id="graficoImg" src="data:image/png;base64,{{ grafico_base64 }}" alt="" style="max-width: 100%; height: auto; object-fit: contain;" />
                        -->

                        <!-- Gráfico -->
                        <div id="grafico" style="width: 100%; height: 500px;"></div>

                        <!-- Reproductor de audio -->
                        <audio id="audioPlayer" >
                            <source id="audioSource" src="" type="audio/wav">
                            Tu navegador no soporta la reproducción de audio.
                        </audio>                                               

                        <h5 for="customRange2" class="text-left">Posición del eje X</h5>
                        <input type="range" class="form-range" min="0" max="10000" value="0" id="customRange2">

                        <h5 for="customRange3" class="text-left">Tempo</h5>
                        <input type="range" class="form-range" min="30" max="200" value="120" id="customRange3">

                    </div>
                </div>
            </div>
            {% block content %}
            {% endblock content %}
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Obtener elementos del DOM
            const audioPlayer = document.getElementById('audioPlayer');
            const sliderX = document.getElementById('customRange2'); // Posición eje X
            const playStopButton = document.getElementById('playStopButton');
            const playIcon = document.getElementById('playIcon');
            const pauseIcon = document.getElementById('pauseIcon');
            
    
            // Obtener valores del contexto Django
            const audioBase64 = "{{ audio_base64|default:'' }}";
            const data_json = "{{ data_json|default:'' }}";
            const grafico_base64 = "{{ grafico_base64|default:'' }}";
            //Condiguracion del grafico

            let name_grafic = "{{ name_grafic|default:'Grafico' }}";
            let name_eje_x = "{{ name_eje_x|default:'Eje X' }}";
            let name_eje_y = "{{ name_eje_y|default:'Eje Y' }}";
            let grilla = "{{ grilla|default:'false' }}";
            let escala_grises = "{{ escala_grises|default:'false' }}";
            let rotar_eje_x = "{{ rotar_eje_x|default:'0' }}";
            let rotar_eje_y = "{{ rotar_eje_y|default:'0' }}";
            let estilo_linea = "{{ estilo_linea|default:'solid' }}";
            let color_linea = "{{ color_linea|default:'blue' }}";;

            localStorage.setItem('name_grafic', name_grafic);
            localStorage.setItem('name_eje_x', name_eje_x);
            localStorage.setItem('name_eje_y', name_eje_y);
            localStorage.setItem('grilla', grilla);
            localStorage.setItem('escala_grises', escala_grises);
            localStorage.setItem('rotar_eje_x', rotar_eje_x);
            localStorage.setItem('rotar_eje_y', rotar_eje_y);
            localStorage.setItem('estilo_linea', estilo_linea);
            localStorage.setItem('color_linea', color_linea);

            name_grafic = localStorage.getItem('name_grafic');
            name_eje_x = localStorage.getItem('name_eje_x');
            name_eje_y = localStorage.getItem('name_eje_y');
            grilla = localStorage.getItem('grilla');
            escala_grises = localStorage.getItem('escala_grises');
            rotar_eje_x = localStorage.getItem('rotar_eje_x');
            rotar_eje_y = localStorage.getItem('rotar_eje_y');
            estilo_linea = localStorage.getItem('estilo_linea');
            color_linea = localStorage.getItem('color_linea');
    
            // Manejo del json del gráfico
            if (data_json) {
                // Si hay datos del gráfico, los guarda en localStorage y los muestra
                localStorage.setItem('data_json', data_json);
                console.log("Datos del gráfico guardados en localStorage.");
                renderGrafico(convertirData(data_json)); // Convierte y muestra los datos
            } else {
                // Si no hay datos del gráfico, intenta cargarlos desde localStorage
                const dataJsonDesdeStorage = localStorage.getItem('data_json');
                if (dataJsonDesdeStorage) {
                    // Si hay datos del gráfico en localStorage, los muestra
                    console.log("Datos del gráfico cargados desde localStorage.");
                    renderGrafico(convertirData(dataJsonDesdeStorage));
                } else {
                    // Si no hay datos del gráfico en localStorage, muestra un mensaje de error
                    console.log("No hay datos del gráfico disponibles.");
                }
            }
    
            // Manejo del audio
            if (audioBase64) {
                localStorage.setItem('audio_base64', audioBase64);
                console.log("Audio guardado en localStorage.");
                // Actualiza el reproductor inmediatamente después de guardar
                const audioSource = audioPlayer.querySelector('source');
                audioSource.src = "data:audio/wav;base64," + audioBase64;
                audioPlayer.load();
            } else {
                const audioBase64DesdeStorage = localStorage.getItem('audio_base64');
                if (audioBase64DesdeStorage) {
                    const audioSource = audioPlayer.querySelector('source');
                    audioSource.src = "data:audio/wav;base64," + audioBase64DesdeStorage;
                    audioPlayer.load();
                    console.log("Audio cargado desde localStorage.");
                } else {
                    console.log("No hay audio disponible.");
                }
            }

            // Manejo del grafico base64
            if (grafico_base64) {
                // Si hay datos del gráfico, los guarda en localStorage y los muestra
                localStorage.setItem('grafico_base64', grafico_base64);
                console.log("La imagen del gráfico guardado en localStorage.");
            } else {
                // Si no hay imagen del gráfico, intenta cargarlos desde localStorage
                const graficoDesdeStorage = localStorage.getItem('grafico_base64');
                if (graficoDesdeStorage) {
                    // Si hay datos del gráfico en localStorage
                    console.log("Imagen del gráfico cargado desde localStorage.");
                } else {
                    // Si no hay datos del gráfico en localStorage, muestra un mensaje de error
                    console.log("No hay imagen del gráfico disponible.");
                }
            }
    
            // Sincronizar posición del audio con slider
            audioPlayer.addEventListener("timeupdate", function() {
                const audioDuration = audioPlayer.duration || 0;
                const currentTime = audioPlayer.currentTime || 0;
                sliderX.value = (currentTime / audioDuration) * 10000;
                updateGrafico(currentTime, audioDuration);
            });
    
            // Sincronizar slider con posición del audio
            sliderX.addEventListener("input", function() {
                const positionPercent = sliderX.value / 10000;
                audioPlayer.currentTime = positionPercent * (audioPlayer.duration || 0);
            });
    
            // Reproducir o pausar el audio
            playStopButton.addEventListener('click', async function() {
                try {
                    if (audioPlayer.paused || audioPlayer.ended) {
                        await audioPlayer.play(); // Reproduce solo si está pausado o terminado
                        playIcon.classList.add('visually-hidden');
                        pauseIcon.classList.remove('visually-hidden');
                    } else {
                        audioPlayer.pause(); // Pausa si se está reproduciendo
                        playIcon.classList.remove('visually-hidden');
                        pauseIcon.classList.add('visually-hidden');
                    }
                } catch (error) {
                    if (error.name === 'AbortError') {
                        console.warn("Interrupción controlada: se pausó antes de que la reproducción comenzara.");
                    } else {
                        console.error("Error al reproducir o pausar el audio:", error);
                    }
                }
            });
    
            // Restablecer al ícono de play cuando el audio termina
            audioPlayer.addEventListener('ended', function() {
                playIcon.classList.remove('visually-hidden');
                pauseIcon.classList.add('visually-hidden');
            });
            
            // Botón de reset para borrar los datos del gráfico y el audio
            document.getElementById('resetButton').addEventListener('click', function() {
                localStorage.removeItem('grafico_base64');
                localStorage.removeItem('audio_base64');
                localStorage.removeItem('data_json');
                window.location.href = "{% url 'sonif1D:index' %}"; // Redirige a la página de inicio
            });

            // Función para renderizar el gráfico
            function renderGrafico(data) {
                // Aplicar escala de grises si está seleccionada
                if (escala_grises === 'true') {
                    color_linea = 'gray';
                }
                // Traza de la línea
                var trace1 = {
                    x: data.x,
                    y: data.y,
                    mode: 'lines',
                    name: 'Gráfico',
                    line: {
                        color: color_linea,
                        dash: estilo_linea
                    }
                };
                // Traza de la marca
                var trace2 = {
                    x: [],
                    y: [],
                    mode: 'markers',
                    marker: {color: 'red', size: 10},
                    name: 'Marca'
                };
                // Diseño del gráfico
                var layout = {
                    title: name_grafic,
                    xaxis: {title: name_eje_x, tickangle: parseInt(rotar_eje_x)},
                    yaxis: {title: name_eje_y, tickangle: parseInt(rotar_eje_y)},
                    showlegend: false,
                    template: escala_grises === 'true' ? 'plotly_white' : 'plotly'
                };
                // Mostrar la grilla si está seleccionada
                if (grilla === 'True') {
                    layout.xaxis.showgrid = true;
                    layout.yaxis.showgrid = true;
                }else{
                    layout.xaxis.showgrid = false;
                    layout.yaxis.showgrid = false;
                }

                // Renderizar el gráfico
                Plotly.newPlot('grafico', [trace1, trace2], layout);
            }
            
            // Función para actualizar la marca en el gráfico
            function updateGrafico(currentTime, totalTime) {
                const dataJsonDesdeStorage = localStorage.getItem('data_json');
                if (dataJsonDesdeStorage) {
                    const data = convertirData(dataJsonDesdeStorage);
                    if (data && Array.isArray(data.x) && Array.isArray(data.y) && data.x.length === data.y.length) {
                        const currentIndex = Math.floor((currentTime / totalTime) * data.x.length);
                        const update = {
                            x: [[data.x[currentIndex]]], // Doble corchete para actualizar correctamente
                            y: [[data.y[currentIndex]]], // Doble corchete para actualizar correctamente
                            mode: 'markers',
                            marker: {color: 'red', size: 10}
                        };
                        Plotly.restyle('grafico', update, [1]); // Actualiza la segunda traza (índice 1)
                    } else {
                        console.error("Datos del gráfico no válidos.");
                    }
                } else {
                    console.error("No se encontraron datos del gráfico en localStorage.");
                }
            }
            
            // Función para convertir una cadeja json en un objeto con propiedades x e y
            function convertirData(data) {
                dataArray = JSON.parse(data);
                const x = [];
                const y = [];
                dataArray.forEach(item => {
                    x.push(item[0]);
                    y.push(item[1]);
                });
                return { x, y };
            }
        });
    </script>

    
   
</body>
</html>
