{% extends 'sonif1D/base.html' %}{% load static %}
{% load custom_filters %}

{% block content %}
<!-- Contenido de la pagina: LADO DERECHO -->
<div class="col-lg-4">
    <div class="card mb-4">
        <div class="card-header">
            <div class="dropdown-center">
                <div class="d-grid gap-2">
                <button class="btn btn-secondary btn-lg dropdown-toggle"  type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  CONFIGURACIONES
                </button>
                <ul class="dropdown-menu">
                  <nav>
                      <a href="{% url 'sonif1D:sonido' %}">
                          <button class="btn btn-secondary4 my-4"> SONIDO </button>
                      </a>
                  </nav>   
                  <nav>
                      <a href="{% url 'sonif1D:grafico' %}">
                          <button class="btn btn-secondary4 my-4"> GRÁFICO </button>
                      </a>
                  </nav>   
                  <nav>
                      <a href="{% url 'sonif1D:funciones_matematicas' %}">
                          <button class="btn btn-secondary4 my-4"> FUNCIONES MATEMÁTICAS </button>
                      </a>
                  </nav>   
              </ul>
              
              
              
              </div>
            </div>
        </div>

  <!-- CADA CONFIGURACION VA ACA-->           
        <div class="card-body">
            <div class="row">
                <h4 class="text-center">GRÁFICO </h4>
                <h5 class="text-left">CONFIGURACIONES GENERALES</h5>
                <form id="configForm" method="post" action="{% url 'sonif1D:grafico' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="form-group">
                            <label for="{{ form.name_grafic.id_for_label }}">Nombre del Gráfico</label>
                            {{ form.name_grafic|add_class:"form-control" }}
                        </div>
                        
                        <div class="form-group">
                            <label for="{{ form.name_eje_x.id_for_label }}">Nombre del Eje X</label>
                            {{ form.name_eje_x|add_class:"form-control" }}
                        </div>
                        
                        <div class="form-group">
                            <label for="{{ form.name_eje_y.id_for_label }}">Nombre del Eje Y</label>
                            {{ form.name_eje_y|add_class:"form-control" }}
                        </div>
                        
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div class="form-check">
                                    {{ form.grilla|add_class:"form-check-input" }}
                                    <label class="form-check-label" for="{{ form.grilla.id_for_label }}">{{ form.grilla.label }}</label>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div class="form-check">
                                    {{ form.escala_grises|add_class:"form-check-input" }}
                                    <label class="form-check-label" for="{{ form.escala_grises.id_for_label }}">{{ form.escala_grises.label }}</label>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div class="form-check">
                                    {{ form.rotar_eje_x|add_class:"form-check-input" }}
                                    <label class="form-check-label" for="{{ form.rotar_eje_x.id_for_label }}">{{ form.rotar_eje_x.label }}</label>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div class="form-check">
                                    {{ form.rotar_eje_y|add_class:"form-check-input" }}
                                    <label class="form-check-label" for="{{ form.rotar_eje_y.id_for_label }}">{{ form.rotar_eje_y.label }}</label>
                                </div>
                            </div>
                        </div>
                        
                        <h5 class="text-left my-2">ESTILO DE LÍNEA</h5>
                        <div class="form-group">
                            {{ form.estilo_linea }}
                        </div>
                        
                        <h5 class="text-left my-2">COLOR DE LÍNEA</h5>
                        <div class="form-group">
                            {{ form.color_linea }}
                        </div>

                        <!-- Campos ocultos para los datos en base64 -->
                        <input type="hidden" name="data_json" id="data_json">

                        <!-- Botón para guardar los cambios -->
                        <div class="form-group mt-3 text-center">
                            <button class="btn btn-secondary btn-sm" type="submit" onclick="setBase64Data()">
                                Guardar cambios
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
  function setBase64Data() {
      document.getElementById('data_json').value = localStorage.getItem('data_json');
  }
</script>
{% endblock %}
