 <!-- BARRA DE NAVEGACIÓN -->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'inicio' %}">
            <h3>sonoUno web</h3>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <!-- Botones de la barra de navegación -->
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-toggle text-white" data-bs-toggle="dropdown" aria-expanded="false">Importar</button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <li><a class="dropdown-item" href="{% url 'sonif1D:importar_archivo' %}">Archivo csv/txt</a></li>
                         <!-- <li><a class="dropdown-item" href="">Archivo .WAV</a></li>
                        <li><a class="dropdown-item" href="">Marcadores .CSV</a></li>  -->
                    </ul>
                </div>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop2" type="button" class="btn btn-dark dropdown-toggle text-white" data-bs-toggle="dropdown" aria-expanded="false">Exportar</button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                        <li><a class="dropdown-item" href="#" id="downloadImage">Grafico</a></li>
                        <li><a class="dropdown-item" href="#" id="downloadAudio">Sonido</a></li>
                    </ul>                    
                </div>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop3" type="button" class="btn btn-dark dropdown-toggle text-white" data-bs-toggle="dropdown" aria-expanded="false">Datos</button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop3">
                        <li><a class="dropdown-item" href="{% url 'sonif1D:mostrar_grafico' 'decrease.txt' %}">Decrease</a></li>
                        <li><a class="dropdown-item" href="{% url 'sonif1D:mostrar_grafico' 'sinusoidal.txt' %}">Sinusoidal</a></li>
                        <li><a class="dropdown-item" href="{% url 'sonif1D:mostrar_grafico' 'growing.txt' %}">Growing</a></li>
                        <li><a class="dropdown-item" href="{% url 'sonif1D:mostrar_grafico' 'square.txt' %}">Square</a></li>
                        <li><a class="dropdown-item" href="{% url 'sonif1D:mostrar_grafico' 'triangular.txt' %}">Triangular</a></li>
                        <li><a class="dropdown-item" href="{% url 'sonif1D:mostrar_grafico' 'glitch.txt' %}">Glitch</a></li>
                    </ul>
                </div>                    
                <li class="nav-item"><a class="btn btn-dark text-white" href="{% url 'sonif1D:ayuda' %}">Ayuda</a></li>
            </ul>
        </div>
    </div>

    <!-- Script para descargar la imagen y el audio -->
    <script>
        document.getElementById('downloadImage').addEventListener('click', function(event) {
            event.preventDefault();
            // Obtener la cadena base64 de la imagen desde localStorage
            var graficoBase64 = localStorage.getItem('grafico_base64');
            if (graficoBase64) {
                // Crear un enlace de descarga
                var link = document.createElement('a'); // Crear un enlace de descarga
                link.href = 'data:image/png;base64,' + graficoBase64; 
                link.download = 'grafico.png';
                link.click();
            } else {
                alert('No se encontró una imagen disponible.');
            }
        });
    
        document.getElementById('downloadAudio').addEventListener('click', function(event) {
            event.preventDefault();
            // Obtener la cadena base64 del audio desde localStorage
            var audioBase64 = localStorage.getItem('audio_base64');
            if (audioBase64) {
                // Crear un enlace de descarga
                var link = document.createElement('a'); // Crear un enlace de descarga
                link.href = 'data:audio/wav;base64,' + audioBase64;
                link.download = 'audio.wav';
                link.click();
            } else {
                alert('No se encontró un audio disponible.');
            }
        });
    </script>
</nav>