 <!-- BARRA DE NAVEGACIÓN -->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'inicio' %}">
            <h3>sonoUno web</h3>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <!-- Botones de la barra de navegación -->
                <li class="nav-item">
                    <a class="btn btn-dark text-white navbar-help-btn me-2" href="{% url 'imagesonif:help' %}">
                        <i class="fas fa-book me-2"></i>Tutorial
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-dark text-white navbar-help-btn" href="{% url 'imagesonif:help' %}">
                        <i class="fas fa-question-circle me-2"></i>Ayuda
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
