<!-- Contenido de la pagina: LADO DERECHO -->
<div class="col-lg-4">
    <div class="card mb-4 shadow-lg border-0 config-card">
        {% include 'sonif1D/partials/config_dropdown.html' %}
        
        <!-- CADA CONFIGURACION VA ACA-->           
        <div class="card-body p-4">
            <div class="row">
                {% block config_content %}
                <!-- El contenido específico de cada configuración va aquí -->
                {% endblock %}
            </div>
        </div>
    </div>
</div>
