<!-- Dropdown de Configuraciones -->
<div class="card-header">
    <div class="dropdown-center">
        <div class="d-grid gap-2">
            <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                CONFIGURACIONES
            </button>
            <ul class="dropdown-menu">
                <!-- SONIDO - Sin funcionalidad implementada
                <nav>
                    <a href="{% url 'sonif1D:sonido' %}">
                        <button class="btn btn-secondary4 my-4"> SONIDO </button>
                    </a>
                </nav>   
                -->
                <nav>
                    <a href="{% url 'sonif1D:grafico' %}">
                        <button class="btn btn-secondary4 my-4"> GRÁFICO </button>
                    </a>
                </nav>   
                <!-- FUNCIONES MATEMÁTICAS - Sin funcionalidad implementada
                <nav>
                    <a href="{% url 'sonif1D:funciones_matematicas' %}">
                        <button class="btn btn-secondary4 my-4"> FUNCIONES MATEMÁTICAS </button>
                    </a>
                </nav>   
                -->
            </ul>
        </div>
    </div>
</div>
